<ul class="list-group">
  <% @messages.each do |message| %>
    <li class="list-group-item"> <%# Added list-group-item for Bootstrap styling %>
      <strong><%= message.user.try(:display_name) || message.user.try(:email) || "User ##{message.user_id}" %>:</strong>
      <%= sanitize(message.body) %> <%# Assuming message content is in 'content' or 'body' %>
      <br>
      <small class="text-muted"><%= time_ago_in_words(message.created_at) %> ago</small>
    </li>
  <% end %>
  <% if @messages.empty? %>
    <li class="list-group-item">No messages in this chat yet.</li>
  <% end %>
</ul>
<%= link_to 'Back to Chats', chats_path %>